// Shadows Green

$shadow-green-light: 0px 0px 80px -30px rgba(35, 196, 110, 0.7);
$shadow-green-normal: 0px 0px 50px -30px #23C46E;
$shadow-green-dark: 0px 18px 52px -21px #23C46E;

// Shadows Orange

$shadow-orange: 0px 4px 11px rgba(252,126,0, 0.7);

// Inside Shadows

$inside-box-shadow-black: inset 0 0 1px black;